# Default values for brouter-web.

replicaCount: 1

image:
  repository: joeakeem/brouter-web
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created.
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account.
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template.
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 80

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local

# -- Expose the service via gateway-api HTTPRoute
# Requires Gateway API resources and suitable controller installed within the cluster
# (see: https://gateway-api.sigs.k8s.io/guides/)
httpRoute:
  # HTTPRoute enabled.
  enabled: false
  # HTTPRoute annotations.
  annotations: {}
  # Which Gateways this Route is attached to.
  parentRefs:
  - name: gateway
    sectionName: http
    # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
  - chart-example.local
  # List of rules and filters applied.
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# the list of profiles to initially download. Should matche the profiles in the dropdown and those supported by the brouter backend
profileFiles:
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/trekking.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/river.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/all.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/fastbike-verylowtraffic.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/fastbike.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/gravel.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/hiking-mountain.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/lookups.dat
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/moped.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/mtb.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/rail.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/river.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/shortest.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/softaccess.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/trekking.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/vm-forum-liegerad-schnell.brf
  - https://raw.githubusercontent.com/abrensch/brouter/refs/heads/master/misc/profiles2/vm-forum-velomobil-schnell.brf

locales:
  # Set to true to override default locales with custom ones
  enabled: false
  # Language files - key is the filename, value is the file content
  files: {}
    # Example:
    # en.json: |
    #   {
    #     "about": {
    #       "bug-reports": "Bug reports and feature requests:"
    #     }
    #   }
    # de.json: |
    #   {
    #     "about": {
    #       "bug-reports": "Fehlerberichte und Funktionsanfragen:"
    #     }
  #   }

# allows overriding config.js and key.js
config:
  files:
    config.js: |
      (function () {
          var hostname = window.location.hostname;
          var origin = window.location.protocol + '//' + hostname + (window.location.port ? ':' + window.location.port : '');

          BR.conf = {};

          // Switch for intermodal routing demo
          BR.conf.transit = false;
          // or as query parameter (index.html?transit=true#zoom=...)
          // (uses search/query (?) not hash (#) params, as config only executed once at load)
          // TODO not included in permalink (better replace permalink with hash plugin)
          //var params = new URLSearchParams(window.location.search.slice(1));
          //BR.conf.transit = params.has('transit') && (params.get('transit') === 'true');

          if (hostname.endsWith('brouter.de')) {
              // online service (brouter.de) configuration

              BR.conf.host = origin;
              BR.conf.profilesUrl = origin + '/brouter/profiles2/';
          } else {
              // desktop configuration

              BR.conf.host = 'http://localhost:17777';

              // Pre-loading selected profile disabled locally. Needs brouter-web to run on a
              // local web server with the profiles in a subdirectory or allowing file access
              // in the Browser (security!), see
              // https://github.com/mrdoob/three.js/wiki/How-to-run-things-locally
              BR.conf.profilesUrl = '/profiles2/';
          }

          // name of the web app/instance, e.g. used as GPX creator and link text
          BR.conf.appName = 'BRouter-Web';
          BR.conf.privacyPolicyUrl = '/privacypolicy.html';

          // Set the initial position and zoom level of the map
          BR.conf.initialMapLocation = [50.99, 9.86];
          BR.conf.initialMapZoom = 5;

          BR.conf.profiles = [
              'trekking',
              'fastbike',
              'shortest',
              'moped',
              'rail',
              'river',
              'vm-forum-liegerad-schnell',
              'vm-forum-velomobil-schnell',
              'hiking-mountain',
          ];

          // Map old, renamed legacy profile to new name (from hash of shared or bookmarked URLs)
          BR.conf.profilesRename = {
              'hiking-beta': 'hiking-mountain',
          };

          // Removes default base layers when 'true'. Useful for only having custom layers (see below).
          BR.conf.clearBaseLayers = false;

          // Add custom tile layers
          // URL template see http://leafletjs.com/reference.html#tilelayer
          // Multiple entries separated by comma (,)
          BR.conf.baseLayers = {
              // 'display name': 'url'[,]
              // e.g. for offline tiles with https://github.com/develar/mapsforge-tile-server
              //'Mapsforge Tile Server': 'http://localhost:6090/{z}/{x}/{y}.png'
          };

          // Base layer to show on start, as position number in the layer switcher, starting from 0, default is first
          BR.conf.defaultBaseLayerIndex = 0;

          // Initial route line transparency (0-1, overridden by stored slider setting)
          BR.conf.defaultOpacity = 0.67;

          // Minimum transparency slider value on load, values between 0 and 1 (0=invisible).
          // 0 = no minimum, use stored setting; 1 = always reset to full visibility on load
          BR.conf.minOpacity = 0.3;

          BR.conf.routingStyles = {
              trailer: {
                  weight: 5,
                  dashArray: [10, 10],
                  opacity: 0.6,
                  color: 'magenta',
              },
              track: {
                  weight: 5,
                  color: 'magenta',
                  opacity: BR.conf.defaultOpacity,
              },
              trackCasing: {
                  weight: 8,
                  color: 'white',
                  // assumed to be same as track, see setOpacity
                  opacity: BR.conf.defaultOpacity,
              },
              nodata: {
                  color: 'darkred',
              },
              beeline: {
                  weight: 5,
                  dashArray: [1, 10],
                  color: 'magenta',
                  opacity: BR.conf.defaultOpacity,
              },
              beelineTrailer: {
                  weight: 5,
                  dashArray: [1, 10],
                  opacity: 0.6,
                  color: 'magenta',
              },
          };

          BR.conf.markerColors = {
              // awesome-markers colors (by color picker)
              poi: '#436978',
              start: '#72b026',
              via: '#38aadd',
              stop: '#d63e2a',
          };

          // transit (intermodal routing) demo config
          if (BR.conf.transit) {
              BR.conf.profiles = [
                  '../im/bike',
                  '../im/foot',
                  '../im/like-bike',
                  '../im/like-foot',
                  'trekking',
                  'fastbike',
                  'shortest',
                  'moped',
                  'car-test',
              ];
          }

          // regex needs to be in sync with server, see ServerHandler.getTrackName()
          BR.conf.tracknameAllowedChars = 'a-zA-Z0-9 \\._\\-';

          BR.conf.overpassBaseUrl = 'https://overpass.kumi.systems/api/interpreter';

          // File size limit in kb for loading tracks
          BR.conf.trackSizeLimit = 1024 * 10;
      })();
    keys.js: |
      (function () {
          // COPYING: Please get your own API keys from the sites listed below

          BR.keys = {
              // Bing maps, https://www.microsoft.com/maps/default.aspx
              bing: '',

              // DigitalGlobe, https://developer.digitalglobe.com/maps-api/#plans
              digitalGlobe: '',

              // Thunderforest, https://thunderforest.com/pricing/
              thunderforest: '',

              // Strava API token in case you want to display Strava segments
              strava: '',

              // OpenMapSurfer (OpenRouteService API), https://openrouteservice.org/plans/
              openrouteservice: '',

              // Mapillary, https://www.mapillary.com/dashboard/developers
              mapillary: ``,

              // IGN France (for Scan25 base layer), https://geoservices.ign.fr/actualites/2023-11-20-acces-donnesnonlibres-gpf
              ignf: '',
          };
      })();
