apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "brouter-web.fullname" . }}
  labels:
    {{- include "brouter-web.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "brouter-web.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "brouter-web.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "brouter-web.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: download-profiles
          image: busybox:latest
          command:
            - sh
            - -c
            - |
              {{- range .Values.profileFiles }}
              wget -P /profiles2 {{ . }}
              {{- end }}
          volumeMounts:
            - name: profiles2
              mountPath: /profiles2
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /usr/share/nginx/html/config.js
              subPath: config.js
            - name: config
              mountPath: /usr/share/nginx/html/keys.js
              subPath: keys.js
            - name: profiles2
              mountPath: /usr/share/nginx/html/profiles2
            {{- if .Values.locales.enabled }}
            - name: locales
              mountPath: /usr/share/nginx/html/dist/locales
            {{- end }}
      volumes:
        - name: profiles2
          emptyDir: { }
        - name: config
          configMap:
            name: {{ include "brouter-web.fullname" . }}-config
            items:
              - key: config.js
                path: config.js
              - key: keys.js
                path: keys.js
        {{- if .Values.locales.enabled }}
        - name: locales
          configMap:
            name: {{ include "brouter-web.fullname" . }}-locales
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
